## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

In [30]:
# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aasiaat,GL,2021-04-26 01:30:11,68.7098,-52.8699,33.31,84,100,5.30,overcast clouds
1,1,Thompson,CA,2021-04-26 01:26:33,55.7435,-97.8558,32.00,93,90,7.23,light snow
2,2,Punta Arenas,CL,2021-04-26 01:30:12,-53.1500,-70.9167,48.20,87,75,3.44,light rain
3,3,Lagoa,PT,2021-04-26 01:30:12,39.0500,-27.9833,59.16,84,100,10.94,overcast clouds
4,4,Iskateley,RU,2021-04-26 01:30:12,67.6803,53.1512,37.22,93,100,6.20,overcast clouds

In [32]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip?

ValueError: could not convert string to float: ''

In [33]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Namibe,AO,2021-04-26 01:30:13,-15.1961,12.1522,75.52,69,0,10.96,clear sky
9,9,North Platte,US,2021-04-26 01:30:14,41.1239,-100.7654,75.20,25,1,9.22,clear sky
10,10,Olinda,BR,2021-04-26 01:30:14,-8.0089,-34.8553,78.80,73,40,6.91,scattered clouds
12,12,Tebingtinggi,ID,2021-04-26 01:30:15,3.3285,99.1625,77.00,100,40,4.61,scattered clouds
17,17,Hithadhoo,MV,2021-04-26 01:30:16,-0.6000,73.0833,82.44,68,60,4.56,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Maragogi,BR,2021-04-26 01:34:49,-9.0122,-35.2225,77.72,83,38,6.87,scattered clouds
688,688,Escarcega,MX,2021-04-26 01:34:51,18.6089,-90.7454,79.79,67,7,5.30,clear sky
689,689,Lucea,JM,2021-04-26 01:34:51,18.4510,-78.1736,80.60,78,20,4.61,few clouds
691,691,Jacmel,HT,2021-04-26 01:34:51,18.2342,-72.5347,82.40,69,48,5.75,scattered clouds
693,693,Kawalu,ID,2021-04-26 01:34:52,-7.3817,108.2082,81.39,69,34,2.19,scattered clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Namibe,AO,2021-04-26 01:30:13,-15.1961,12.1522,75.52,69,0,10.96,clear sky
9,9,North Platte,US,2021-04-26 01:30:14,41.1239,-100.7654,75.20,25,1,9.22,clear sky
10,10,Olinda,BR,2021-04-26 01:30:14,-8.0089,-34.8553,78.80,73,40,6.91,scattered clouds
12,12,Tebingtinggi,ID,2021-04-26 01:30:15,3.3285,99.1625,77.00,100,40,4.61,scattered clouds
17,17,Hithadhoo,MV,2021-04-26 01:30:16,-0.6000,73.0833,82.44,68,60,4.56,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Maragogi,BR,2021-04-26 01:34:49,-9.0122,-35.2225,77.72,83,38,6.87,scattered clouds
688,688,Escarcega,MX,2021-04-26 01:34:51,18.6089,-90.7454,79.79,67,7,5.30,clear sky
689,689,Lucea,JM,2021-04-26 01:34:51,18.4510,-78.1736,80.60,78,20,4.61,few clouds
691,691,Jacmel,HT,2021-04-26 01:34:51,18.2342,-72.5347,82.40,69,48,5.75,scattered clouds
693,693,Kawalu,ID,2021-04-26 01:34:52,-7.3817,108.2082,81.39,69,34,2.19,scattered clouds

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Namibe,AO,75.52,clear sky,-15.1961,12.1522,
9,North Platte,US,75.20,clear sky,41.1239,-100.7654,
10,Olinda,BR,78.80,scattered clouds,-8.0089,-34.8553,
12,Tebingtinggi,ID,77.00,scattered clouds,3.3285,99.1625,
17,Hithadhoo,MV,82.44,broken clouds,-0.6000,73.0833,
20,Bahia Honda,CU,77.05,few clouds,22.9036,-83.1592,
22,Vaini,TO,82.40,light rain,-21.2000,-175.2000,
24,Rikitea,PF,78.01,scattered clouds,-23.1203,-134.9692,
27,Avarua,CK,82.40,few clouds,-21.2078,-159.7750,
33,Ejura,GH,75.90,broken clouds,7.3856,-1.3562,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Namibe,AO,75.52,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
9,North Platte,US,75.20,clear sky,41.1239,-100.7654,Holiday Inn Express & Suites North Platte
10,Olinda,BR,78.80,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
12,Tebingtinggi,ID,77.00,scattered clouds,3.3285,99.1625,Hotel Malibou tebing tinggi
17,Hithadhoo,MV,82.44,broken clouds,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
683,Maragogi,BR,77.72,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
688,Escarcega,MX,79.79,clear sky,18.6089,-90.7454,Hotel Maria Isabel
689,Lucea,JM,80.60,few clouds,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
691,Jacmel,HT,82.40,scattered clouds,18.2342,-72.5347,Hotel Florita
693,Kawalu,ID,81.39,scattered clouds,-7.3817,108.2082,KOSAN UNGU UNSIK

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))